<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>TradingPlatform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstJsp</servlet-name>
    <jsp-file>/WEB-INF/TPLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstJsp</servlet-name>
    <url-pattern>/TPLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.fdmgroup.tradingplatform.controllers.LoginInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/LoginInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginJsp</servlet-name>
    <jsp-file>/WEB-INF/Logsuccess.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginJsp</servlet-name>
    <url-pattern>/Logsuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterJsp</servlet-name>
    <jsp-file>/WEB-INF/TPregister.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterJsp</servlet-name>
    <url-pattern>/TPregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.fdmgroup.tradingplatform.controllers.RegisterInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterInfo</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>RegisterinfoJsp</servlet-name>
    <jsp-file>/WEB-INF/Registersuccess.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterinfoJsp</servlet-name>
    <url-pattern>/Registersuccess</url-pattern>
  </servlet-mapping>
</web-app>