/* Elements */

form{
	/* Appearance styling */
	background-color: #FFFFFF;
	border: 1px solid #666666; 
	border-radius: 2%;
	padding: 2% 1.5% 2% 1.5%;
	width: 27%;
	position: absolute;
	
	/* Text styling */ 
	font-family: arial, helvetica, sans-serif;
	font-style: normal;
	font-weight: 14;
}

#leftheader{
	left: 2%;
	top: 2%;
	position: relative;
}

#rightheadertop{
	right: 2%;
	top: 3%;
	position: fixed;	
}

#rightheaderbottom{
	right: 2%;
	top: 10%;
	position: fixed;	
}

form.register{
	height: 65%;	
}

form.login{

}

.inputfieldtext{
	padding-left: 32px;	
	font-family: arial, helvetica, sans-serif;
	font-size: 80%;
	width: 88%;
	height: 25px;
	font-weight: 500;
	border: 1px solid #666666; 
}

.bluebutton{
	background: #00aeef;
	font-family: arial, helvetica, sans-serif;
	color: #FFFFFF;
	border-radius: 10px;
	height: 30px;
	text-align: center;
	border: 1px solid #00aeef;
	font-size: 80%;	
}

.whitebutton{
	background-color: #FFFFFF;
	font-family: arial, helvetica, sans-serif;
	color: #00aeef;
	border-radius: 10px;
	height: 30px;
	text-align: center;
	border: 1px solid #666666;
	font-size: 80%;
}

h1.sectionlabel{
	font-family: arial, helvetica, sans-serif;
	font-size: 100%;
	color:#666666;
	font-weight: 700;
}

#firstname, #lastname, #username{
	background: url("human_icon.jpg") no-repeat scroll 1% 65%;	
}

#mail{
	background: url("mail_icon.jpg") no-repeat scroll 1% 65%;	
}

#createpassword, #confirmpassword{
	background: url("lock_icon.jpg") no-repeat scroll 1% 65%;	
}

#TPLogo{
	content: url("logo-TP.jpg") no-repeat scroll 1% 65%;
}

#phonenum{
	font-family: arial, helvetica, sans-serif;
	font-weight: 900;
	color:#00aeef;
}

#try{
	
	
}